<div class="play-list-body">
    <ul class="play-list-table-header">
        <li (click)="changeSort('name')">título</li>
        <li (click)="changeSort('album')">álbum</li>
        <li>artista</li>
        <li>nacionalidad</li>
    </ul>
    <ul
        class="play-list-rows"
        *ngFor="
            let track of tracks
                | orderList: sortOptions.property:sortOptions.order
        "
    >
        <li class="track-name">
            <ng-container
                *ngTemplateOutlet="coverSection; context: { prop: track }"
            ></ng-container>
        </li>
        <li class="track-name-opacity">
            {{ track.album }}
        </li>
        <li class="track-name-opacity">
            {{ track.artist?.name }}
        </li>
        <li class="track-name-opacity">
            {{ track.artist?.nationality }}
        </li>
    </ul>
</div>

<!--template-->
<ng-template #coverSection let-track="prop">
    <div class="cover-section">
        <img
            appImgBroken
            class="cover-track"
            [src]="track.cover"
            [alt]="track.name"
        />
        <div class="cover-info">
            <div class="name-track">{{ track.name }}</div>
            <div class="name-track-details">{{ track.artist.name }}</div>
        </div>
    </div>
</ng-template>
